@model TestProject.Models.FeverCard
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form method="post">
    <div>
        <p>@Html.LabelFor(m => m.Doctor_id)</p>
        <p>@Html.TextBoxFor(m => m.Doctor_id)</p>

        <p>@Html.LabelFor(m => m.Patient_id)</p>
        <p>@Html.TextBoxFor(m => m.Patient_id)</p>

        <p>@Html.LabelFor(m => m.Patient_age)</p>
        <p>@Html.TextBoxFor(m => m.Patient_age)</p>


        <p>@Html.LabelFor(m => m.Weight)</p>
        <p>@Html.TextBoxFor(m => m.Weight)</p>

        <p>@Html.LabelFor(m => m.Hospital)</p>
        <p>@Html.TextBoxFor(m => m.Hospital)</p>

        @Html.HiddenFor(m => m.Card_id)

        <input type="submit" value="Zapisz" />
    </div>
</form>
