@model TestProject.Models.Doctor
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post">
    <div>
        <p>@Html.LabelFor(m => m.Doctor_name)</p>
        <p>@Html.TextBoxFor(m => m.Doctor_name, new { @class = "form-control" })</p>

        <p>@Html.LabelFor(m => m.Doctor_surname)</p>
        <p>@Html.TextBoxFor(m => m.Doctor_surname, new { @class = "form-control" })</p>

        <p>@Html.LabelFor(m => m.Doctor_PESEL)</p>
        <p>@Html.TextBoxFor(m => m.Doctor_PESEL, new { @class = "form-control" })</p>

        @Html.HiddenFor(m => m.Doctor_id)

        <input type="submit" value="Zapisz" />
    </div>
</form>
