@model List<TestProject.Models.Doctor>

<h2>Lista lekarzy</h2>

<form method="post" action="~/Doctor/Search">
    <div>
        <p>Wyszukaj lekarzy</p>
        <p>@Html.TextBox("pattern")</p>
    </div>
    <div>
        <input type="submit" value="Wyszukaj">
    </div>
</form>

<p> @Html.ActionLink("Dodaj lekarza", "Add", "Doctor")</p>

<style>
    td, th {
        border: 1px solid black;
    }
</style>

<div>
    <table WIDTH=100%>
        <tdead>
            <tr>
                <td align="center">ID</td>
                <td align="center">Imię</td>
                <td align="center">Nazwisko</td>
                <td align="center">PESEL</td>
                <td></td>
                <td></td>
            </tr>
        </tdead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td align="center">@item.Doctor_id</td>
                    <td align="center">@item.Doctor_name</td>
                    <td align="center">@item.Doctor_surname</td>
                    <td align="center">@item.Doctor_PESEL</td>
                    <td align="center">@Html.ActionLink("Edytuj lekarza", "Edit", "Doctor", new { @item.Doctor_id }, null)</td>
                    <td align="center">@Html.ActionLink("Usuń", "Delete", "Doctor", new { @item.Doctor_id }, null)</td>
                </tr>
            </tbody>
        }
    </table>

</div>