@model List<TestProject.Models.Doctor>

<h2>Lista lekarzy</h2>

<form method="post" action="~/Doctor/Search">
    <div>      
        <div class="form-inline">
            @Html.TextBox("pattern", null, new { @class = "form-control", @placeholder="Wyszukaj lekarzy ..." })
            <input type="submit" value="Wyszukaj" class="btn btn-secondary">
        </div>
    </div>
</form>
<br />
<p> @Html.ActionLink("Dodaj lekarza", "Add", "Doctor", new { @class = "btn btn-primary"})</p>

<style>
    td, th {
        border: 1px solid black;
    }
</style>

<div>
    <table WIDTH=100%>
        <tdead>
            <tr>
                <td align="center" style="font-weight: bold">ID</td>
                <td align="center" style="font-weight: bold">Imię</td>
                <td align="center" style="font-weight: bold">Nazwisko</td>
                <td align="center" style="font-weight: bold">PESEL</td>
                <td></td>
                <td></td>
            </tr>
        </tdead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td align="center">@item.Doctor_id</td>
                    <td align="center">@item.Doctor_name</td>
                    <td align="center">@item.Doctor_surname</td>
                    <td align="center">@item.Doctor_PESEL</td>
                    <td align="center">@Html.ActionLink("Edytuj lekarza", "Edit", "Doctor", new { @item.Doctor_id }, null)</td>
                    <td align="center">@Html.ActionLink("Usuń", "Delete", "Doctor", new { @item.Doctor_id }, null)</td>
                </tr>
            </tbody>
        }
    </table>

</div>