@model TestProject.Models.Patient
@{
    ViewBag.Title = "Add";
}

<h2>Dodaj pacjenta</h2>
<form method="post">
    <div>
        <p style="color:red; white-space:pre-line;">@TempData["Error"]</p>

        <p>@Html.LabelFor(m => m.Name)</p>
        <p>@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</p>

        <p>@Html.LabelFor(m => m.Surname)</p>
        <p>@Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })</p>

        <p>@Html.LabelFor(m => m.PESEL)</p>
        <p>@Html.TextBoxFor(m => m.PESEL, new { @class = "form-control" })</p>

        <input type="submit" value="Zapisz" class="btn btn-primary " />
    </div>
</form>
