@model List<TestProject.Models.Patient>

<h2>Lista pacjentów</h2>

<form method="post" action="~/Patient/Search">
    <div>
        <p>Wyszukaj pacjentów</p>
        <p>@Html.TextBox("pattern")</p>
    </div>
    <div>
        <input type="submit" value="Wyszukaj">
    </div>
</form>

<p> @Html.ActionLink("Dodaj pacjenta", "Add", "Patient")</p>

<style>
    td, th {
        border: 1px solid black;
        
    }
</style>

    <div>
        <table  WIDTH=100% >
            <tdead>
                <tr>
                    <td align="center">ID</td>
                    <td align="center">Imię</td>
                    <td align="center">Nazwisko</td>
                    <td align="center">PESEL</td>
                    <td></td>
                    <td></td>
                </tr>
            </tdead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td align="center">@item.Patient_id</td>
                        <td align="center">@item.Name</td>
                        <td align="center">@item.Surname</td>
                        <td align="center">@item.PESEL</td>
                        <td align="center">@Html.ActionLink("Edytuj pacjenta", "Edit", "Patient", new { @item.Patient_id }, null)</td>
                        <td align="center">@Html.ActionLink("Usuń", "Delete", "Patient", new { @item.Patient_id }, null)</td>
                    </tr>
                </tbody>
            }
        </table>

    </div>
    /**/
