@model TestProject.Models.Patient
@{
    ViewBag.Title = "AddPatient";
}

<h2>AddPatient</h2>

<form method="post">
    <div>
        <p>@Html.LabelFor(m => m.Name)</p>
        <p>@Html.TextBoxFor(m => m.Name)</p>

        <p>@Html.LabelFor(m => m.Surname)</p>
        <p>@Html.TextBoxFor(m => m.Surname)</p>

        <p>@Html.LabelFor(m => m.PESEL)</p>
        <p>@Html.TextBoxFor(m => m.PESEL)</p>

        <input type="submit" value="Zapisz" />
    </div>
</form>
